@import '~bootstrap/scss/bootstrap';

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: green;
    text-decoration: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.card {
  width: 175px;
  height: 279px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  margin-top: 32px;
  margin-left: 8px;
  margin-right: 8px;
}

.copyright {
  font-family: "Raleway", sans-serif;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  height: 5vh;
  padding: 0;
  margin: 0;
}

#game {
  overflow-y: auto;
}

#game-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 775px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
}

#header {
  margin: 0;
  padding: 0;
  color: #FFF;
  justify-content: center;
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  background-color: #343a40;
}

#header-text {
  height: 100px;
}

img[data-clickable=false] {
  cursor: auto;
}

.myButton {
  margin: 1rem 1rem 4rem;
  -webkit-box-shadow: 0 10px 14px -7px #276873;
  box-shadow: 0 10px 14px -7px #276873;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  padding: 32px 76px;
  text-decoration: none;
  text-shadow: 0 1px 0 #3d768a;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

.myButton:active {
  position: relative;
}

.name {
  color: #F15B31;
  font-weight: 700;
}

#nav {
  display: flex;
  justify-content: center;
  background-color: #00A6B3;
  color: #FFF;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  height: 50px;
  padding: 0;
}

p {
  font-family: "Droid Serif", serif;
  margin-left: 25px;
  margin-right: 25px;
  text-align: justify;
}

#score-text {
  height: 50px;
}